
JWT_SECRET=change-me-64-hex-chars
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000


AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_pass
AUTH_DB_PORT=5433


PRODUCT_DB_NAME=product_db
PRODUCT_DB_USER=product_user
PRODUCT_DB_PASSWORD=product_pass
PRODUCT_DB_PORT=5434


ORDER_DB_NAME=order_db
ORDER_DB_USER=order_user
ORDER_DB_PASSWORD=order_pass
ORDER_DB_PORT=5435


NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=notification_pass
NOTIFICATION_DB_PORT=5436


KAFKA_BOOTSTRAP_SERVERS=localhost:9092


MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@electronics-shop.local
MAIL_SMTP_AUTH=false
MAIL_SMTP_TLS=false


PRODUCT_SERVICE_URL=http://localhost:8082
FRONTEND_URL=http://localhost:5173
